html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebutton {
    background-color: pink;
    border: none;
    width: 5%;
    padding: 0;
}

#menu img {
    display: block;
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
}