html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #151515;
    color: pink;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    width: min-content;
    background-color: #ff0093;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

#main-container {
    height: 66.667%;
    width: 66.667%;
    background-color: #1B1B1B;
    padding: 12px;
    border: 3px solid; 
    border-color: #111111;
    border-radius: 12px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#alpha {
    height: 31%;
}

#alpha a {
    height: 100%;
}

#icon {
    height: 100%;
    border-radius: 50%;
    padding-right: 12px;
}

#about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
}

#about p {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 0;
    text-align: justify;
    overflow: auto;
    scrollbar-width: none;
}

#beta {
    height: 69%;
    width: 100%;
}

#slider {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#slideshow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.slider-button {
    height: 90%;
    color: inherit;
    background-color: #1e1e1e;
    border: none;
    position: absolute;
}

.slides {
    width: 20%;
    padding-right: 12px;
}

#footer {
    margin-bottom: 3px;
    position: fixed;
    bottom: 0;
}