@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    --seashell: #fff5ee;
    --off-white: #fffafa;
    --jet-black: #0e0e10;
    --jet: #343434;
    --eerie-black: #1b1b1b;
    --off-grey: #d2d2cf;
    --french-pink: #ff69b4;
    --deep-pink: #ff1493;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.body-light {
    background-color: var(--seashell);
    color: var(--eerie-black);
}

.body-dark {
    background-color: var(--jet-black);
    color: var(--off-white);
}

a {
    color: var(--french-pink);
}

a:visited {
    color: var(--deep-pink);
}

hr {
    color: var(--off-grey);
}

#controls {
    position: fixed;
    bottom: 2px;
    right: 2px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    z-index: 1;
}

.control {
    cursor: pointer;
    font-size: 1em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--off-grey);
}

.control:active {
    background-color: var(--off-grey);
}

.control-light {
    background-color: var(--off-white);
}

.control-dark {
    background-color: var(--jet);
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limit-width {
    max-width: 800px;
}

.safe-space {
    margin: 0 10px;
}

.bottom-10 {
    margin-bottom: 10px;
}

#head {
    color: var(--off-white);
    width: 100%;
    display: flex;
    justify-content: center;
}

.head-light {
    background: linear-gradient(90deg, var(--french-pink), pink);
}

.head-dark {
    background: linear-gradient(90deg, blueviolet, var(--french-pink));
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title>h3:nth-of-type(2) {
    text-align: right;
}

.section {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--off-grey);
}

.section-light {
    background-color: var(--off-white);
}

.section-dark {
    background-color: var(--jet);
}

#about-section {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-between;
}

#skillset {
    display: flex;
}

#skillset>h4 {
    margin: 0;
}

#skillset>ul {
    list-style: none;
    padding-left: 1ch;
    margin: 0;
}

#skillset>ul li {
    display: inline-block;
}

#skillset>ul li:not(:last-child)::after {
    content: ",";
}

.edu-table {
    display: table;
    height: 100%;
    border-spacing: 10px;
}

.edu-row {
    display: table-row;
    height: 100%;
}

.edu-cell {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

.edu-image-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
}

.edu-image-container>a {
    flex: 1;
    display: flex;
}

.edu-logo {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.edu-logo-light {
    filter: drop-shadow(1px 1px 10px var(--eerie-black));
}

.edu-logo-dark {
    filter: drop-shadow(1px 1px 10px var(--off-white));
}

.project {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    gap: 10px;
}

.image {
    flex: 1;
    min-height: 300px;
    background-size: cover;
    background-position: top center;
    border: 1px var(--french-pink) solid;
    box-shadow: inset 0 0 10px 1px pink;
}

.project:nth-child(even)>.content>.image {
    order: 2;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.description>p {
    text-align: justify;
}

.source {
    flex: 1;
    display: flex;
}

.source>a {
    align-self: flex-end;
}

.project:nth-child(odd)>.content>.info>.source {
    justify-content: end;
}

@media screen and (max-width: 700px) {
    #head>.title {
        display: block !important;
    }

    .edu-table {
        display: block;
    }

    .edu-row {
        display: block;
    }

    .edu-cell {
        display: block;
    }

    .edu-image-container {
        flex-direction: row;
        gap: 10px;
        height: 100px;
        padding: 0 10px 0 10px;
        flex: 1;
    }

    .edu-logo {
        background-position: center;
    }

    .content {
        display: block !important;
    }

    .info {
        max-width: unset;
    }

    .image {
        width: 100%;
        max-width: unset;
    }

    .project:nth-child(even)>.content>.image {
        order: 1;
    }

    .source {
        justify-content: end;
    }
}
